# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Certificates (CRITICAL: Do not commit these)
*.pem
*.key
*.crt
certs/

# IDE settings
.vscode/
.idea/
.DS_Store

# RUBY
# Ignore bundle configuration (where you installed gems locally)
.bundle/
vendor/
